.content {
    display                   : flex;
    justify-content           : space-between;
    transform                 : translate(-80%, 0px);
    max-width                     : 85%;
    text-align                : center;
    position                  : relative;
    transition-property       : transform;
    transition-duration       : .8s;
    transition-timing-function: ease-in-out;
    }

.content:hover {
    transform: translate(0px, 0px);
}

.content_showing {
    display                   : flex;
    justify-content           : space-between;
    width                     : 85%;
    text-align                : center;
    position                  : relative;
    transform                 : translate(0px, 0px);
    transition-property       : transform;
    transition-duration       : .8s;
    transition-timing-function: ease-in-out;
}

.title {
    align-self  : center;
    text-align  : left;
    height      : 100%;
    min-width   : 10%;
    padding-left: 10px;
    border-left : 2px solid black;
    font-size   : 1.2vw;
}

.information {
    align-self   : center;
    text-align   : left;
    padding-right: 15%;
    font-size    : 1.2vw;
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 2vh;
    }

    .information {
        font-size: 1.2vh;
    }
}