.container {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-self     : center;
}

.title {
    justify-self : center;
    align-self   : center;
    text-align   : center;
    margin       : 20px;
    margin-bottom: 0px;
    font-size: 20px;
}

.form {
    align-self    : center;
    justify-self  : flex-start;
    display       : flex;
    width         : 60vw;
    flex-direction: column;
}

@media screen and (max-width: 400px) {
    .form {
        width: 80vw;
    }
}