.container {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    margin         : 40px;
}

.button {
    width     : 20vw;
    height    : 50px;
    align-self: center;
}

@media screen and (max-width: 400px) {
    .button {
        width: 40vw;
    }
}