.container {

    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation   : fadein 2s;
    /* Firefox < 16 */
    -ms-animation    : fadein 2s;
    /* Internet Explorer */
    -o-animation     : fadein 2s;
    /* Opera < 12.1 */
    animation        : fadein 2s;

    display: flex;
    flex-direction: column;
    align-content: center;

}

.header {
    width: 50vw;
    align-self: center;
    text-align: center;
    font-style: normal;
    margin: 0px;
    font-size: 1.5vw;
}

.text {
    width: 50vw;
    align-self: center;
    text-align: center;
    font-style: normal;
    font-size: 1vw;
    margin-bottom: 100px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}