.container {
    width          : 80vw;
    height         : 50vh;
    position       : absolute;
    align-self     : center;
    display        : flex;
    justify-content: flex-end;
    overflow-x     : hidden;
}

.wrapper_hidden {
    width          : 20vw;
    height         : 50vh;
    background     : white;
    opacity        : 0%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    transform      : translateX(16vw);
    transition     : 800ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.wrapper_hidden:hover {
    opacity: 70%;
}

.wrapper_shown {
    width          : 20vw;
    height         : 50vh;
    background     : white;
    opacity        : 70%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    transition     : 800ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.link_hidden {
    width             : 100%;
    text-align        : center;
    /* padding-left   : 1vw; */
    font-size         : 1vw;
    transition        : opacity 1s;

}

.link_shown {
    opacity   : 100%;
    color     : black;
    font-size : 1vw;
    z-index   : 99;
    transition: opacity 1s;

}

.toggle_hidden {
    max-width : 4vw;
    opacity   : 100%;
    text-align: center;
    font-size : 1vw;
}

.link_text {
    font-size: 1vw;
}

@media screen and (orientation: portrait) {

    .wrapper_hidden {
        height    : 45vh;
        margin-top: 2.5vh;
        width: 30vw;

    }

    .wrapper_shown {
        height    : 45vh;
        width: 30vw;
        margin-top: 2.5vh;
    }

    .wrapper_hidden {
        transform      : translateX(26vw);
    }

    .link_text {
        font-size: 1vh;
        text-align: center;
    }

    .link_shown {
        font-size: 1vh;
    }

    .toggle_hidden {
        font-size: 1vh;
    }


}