.container {
    display: flex;
    width  : 95vw;
    height : 30vh;
    margin : 10px;

    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation   : fadein 2s;
    /* Firefox < 16 */
    -ms-animation    : fadein 2s;
    /* Internet Explorer */
    -o-animation     : fadein 2s;
    /* Opera < 12.1 */
    animation        : fadein 2s;
}

.image_loading {
    /* width     : 25vw; */
    box-shadow: 3px 3px 3px rgb(63, 63, 63);
    opacity   : 0%;
}

.image_loaded {
    /* width     : 25vw; */
    /* height    : 100%; */
    box-shadow: 3px 3px 3px rgb(63, 63, 63);
    opacity   : 100%;
    z-index   : 99;

    animation: unblur 1s linear;

    transition        : opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition   : opacity 1s;
    -ms-transition    : opacity 1s;
    -o-animation      : opacity 1s;
}

/* .image_wrapper {
    width     : 25vw;
    background: lightgray;
} */

.heading {
    margin       : 1vw;
    font-style   : normal;
    margin-top   : 5px;
    margin-bottom: 0px;
    font-size    : 1.5vw;
}

.paragraph {
    margin    : 1vw;
    font-size : 1vw;
    margin-top: 5px;
}

@keyframes unblur {
    from {
        filter: blur(5px)
    }

    to {
        filter: blur(0);
    }
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (orientation: portrait) {
    .container {
        height: 30%;
    }

    .image_wrapper {
        max-height: 30vw;
        min-width : 30vw;
    }

    .image_loading {
        min-width: 100%
    }

    .image_loaded {
        min-width : 100%;
        object-fit: cover;
    }

    .heading {
        font-size: 1.5vh;
    }

    .paragraph {
        font-size: 1vh;
    }
}