.container {
    align-self  : center;
    justify-self: center;
    text-align  : center;
    position    : absolute;
    width       : 100%;
    height      : 10vh;
    bottom      : 0;
}

.contents {
    color       : darkgray;
    align-self  : center;
    justify-self: center;
    font-size   : 1.2vw;
    margin      : 0px;
    padding     : 0px;
}

@media screen and (max-width: 400px) {
    .contents {
        font-size: 10px;
    }
}