.container {
 display: flex;
 flex-direction: column;
 position: relative;
 min-height: 100vh;
 min-height: calc(var(--vh, 1vh) * 100);
}

.title {
    min-height: 20vh;
    min-height: calc(var(--vh, 1vh) * 20);
    height: 20vh;
    height: calc(var(--vh, 1vh) * 20);
}

.content {
    min-height: 70vh;
    min-height: calc(var(--vh, 1vh) * 70);
    display: flex;
    justify-content: center;
    user-select: none;
    padding-bottom: 2.5rem;
}

.signature {
    /* min-height: 10vh; */
    /* min-height: calc(var(--vh, 1vh) * 10); */
    text-align: center;
    margin: 10px;

}